.text{
	padding:10px;
}
.header{
	background-color: #6bcbfd;
	height: 95%;
}
.home_page_icon{
	width: 260px;
	height: 410px;
	margin-left: 21%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.home_page_icon_for_mobile{
	width: 130px;
	padding-top: 15px;

}
.blue_line{
	background-color: #6bcbfd;
}
.space_div_for_home_and_features{
	height: 40px;

}
.youtube_video{
	/*margin-left: 131px;*/
}
.text_beside_video{
/*	margin-left: 75px;
	margin-bottom: 105px;*/
}
.space_div_for_contact_us{
	height: 50px;
}
.space_for_footer{
	height:50px;
}
.space_text_below_header{
	height: 30px;
}
#space_for_features{
	height: 50px;
}
.font{
	font-family: futura;
	font-weight: lighter;
}
.feature_one{
	width:450px;
}
.feature_two{
	width: 450px;
	margin-left: 90px;
}
.feature_three{
	width: 450px;
}
.feature_four{
	width: 450px;
	margin-left: 100px;
}
.feature_five{
	width: 450px;
	margin-right: 100px;
}
.upload-img-one{
	height: 160px;
	/*width: 160px;*/
}
.upload-img-two{
	height: 160px;
/*	width: 160px;*/
}
.upload-img-three{
	height: 155px;
/*	width:160px;*/
}
.upload-img-four{
	height: 160px;
/*	width: 160px;*/
}

.header-hero {
	padding-top : 50px;
}

img.spacing{
	margin-bottom: 15px;
}

h1.display-1.hidden-sm-down.font.header-hero{
	font-size: 4rem;
	line-height: 1.3;
}

p.fs-20.w-600.mx-auto.hidden-sm-down{
    margin-top: 20px;
}

@media only screen and (max-width: 770px){
  .container.text-center{
  	margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
*{
/*CSS transitions*/
 -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;
 transition-property: none !important;
 /*CSS transforms*/
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
 /*CSS animations*/
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
 }
}


@media only screen and (max-width: 1200px){
  .col-md-3.aos-init.aos-animate{
  	height: 270px;
  }
}


@media only screen and (max-width: 700px){
  .col-xs-6.embed-responsive.embed-responsive-16by9.align-self-center.hidden-md-up{
  	display: none;
  }
}

