.header{
	background-color: #6bcbfd;
	height: 500px;
}
.home_page_icon{
	height: 450px;
	margin-left: 100px;
}
.home_page_icon_for_mobile{
	height: 225px;

}
.blue_line{
	background-color: #6bcbfd;
}
.space_div_for_home_and_features{
	height: 40px;

}
.youtube_video{
	margin-left: 0px;
}
.text_beside_video{
	margin-left: 50px;
	margin-bottom: 105px;
}
.space_div_for_contact_us{
	height: 50px;
}
.space_for_footer{
	height:50px;
}
.space_text_below_header{
	height: 30px;
}
#space_for_features{
	height: 50px;
}



@media only screen and (max-width: 500px) {
.swiper-container.swiper-button-circular{
 /*CSS animations*/
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
 }

 .col-md-3.img{
 /*CSS transitions*/
 -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;
 transition-property: none !important;
 /*CSS transforms*/
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
 /*CSS animations*/
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;	
 }
 

}


